@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Blinker', sans-serif;;
}

#root{
  width: 100%;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.shopping-cart{
  right: -100%;
  transition: all .2s;
}

.shopping-cart.active{
  right: 0;
}

.mobile-menu{
  right: -100%;
  transition: all .2s;
}

.mobile-menu.active{
  right: 0;
}

.header-left{
  background-image: url("./assets/home.jpg");
  background-position: center;
  background-size: cover;
}

.header-right-left{
  background-image: url("./assets/spoon.jpg");
  background-position: center;
  background-size: cover;
}

.header-right-right-top{
  background-image: url("./assets/chair.jpg");
  background-position: center;
  background-size: cover;
}

.header-right-right-bottom{
  background-image: url("./assets/table.jpg");
  background-position: center;
  background-size: cover;
}

.payments-container{
  &::-webkit-scrollbar{
    height: 0.5rem;
    background-color: white;
    border-radius: 5rem;
  }
  &::-webkit-scrollbar-thumb{
    background-color: #aaa;
    border-radius: 5rem;
  }
}