@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Blinker', sans-serif;;
}

#root{
  width: 100%;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.shopping-cart{
  right: -100%;
  transform-origin: right;
  transition: all .2s;
}

.shopping-cart.active{
  right: 0;
}

.header-left{
  background-image: url("./assets/home.jpg");
}
